<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(ingredient, index) in ingredients" :key="ingredient">
          {{ index }} - {{ ingredient }}
        </li>
      </ul>
      <button @click="ingredients.push('spices')">Add spices</button>
      <template v-for="(ingredient, index) in ingredients">
        <div>
          <p>{{ index }} - {{ ingredient }}</p>
        </div>
      </template>

      <ul>
        <li v-for="person in persons">{{ person.name }}</li>
      </ul>

      <ul>
        <li v-for="person in persons">
          <ul>
            <li v-for="(value, key, index) in person">
              {{ index }}-{{ key }}: {{ value }}
            </li>
          </ul>
        </li>
      </ul>

      <div v-for="i in 10">{{ i }}</div>
    </div>
    <script src="app.js" async defer></script>
  </body>
</html>
