<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div id="exercise">
      <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" 
        class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
      <div>
        <button @click="startEffect">Start Effect</button>
        <div
          id="effect"
          :class="[{hightlight: highlight}, {shrink: !highlight}]"
        ></div>
      </div>
      <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
      <div :class="['red', 'square', 'blue-border']"></div>
      <!-- 3) Let the user enter a class (create some example classes) and attach it -->
      <div>
        custom class<input type="text" v-model="customClass" />
        <div :class="customClass"></div>
      </div>
      <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
      <div>
        custom class<input type="text" v-model="customClass" />
        <br />
        hide <input type="text" v-model="hide" />
        <div :class="[customClass, {'blue-background' : hide}]"></div>
      </div>
      <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
      <div>
        background color: <input type="text" v-model="customBackgroundStyle" />
        <div
          class="red-box"
          :style="{backgroundColor: customBackgroundStyle}"
        ></div>
      </div>
      <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
      <div>
        <button @click="startInterval">Start Progress</button>
        <div class="progress-bar">
          <div
            class="progress-bar-progress"
            :style="[{width:progress + 'px'}]"
          ></div>
        </div>
      </div>
    </div>
    <script src="app.js" async defer></script>
  </body>
</html>
